

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Insert Form</h1>
    <h1>{{ var }}</h1>
    <form action="/upload" method="post">

        <textarea name="name_v" id="name_v" cols="30" rows="10"></textarea>
        <button>Send</button>
    </form>
    
</body>
</html>
